[Desktop Entry]
Name=Hello Again
GenericName=Image cropper and optimizer
Comment=Crop image and optimize it for the web
Categories=Utility;
Exec=com.github.thegoldgoat.image-crop-and-optimizer
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=image;crop;optimizer;